/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/aura-light-teal/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex.css";

html {
  font-size: 16px;
  background-color: rgb(249 250 251);
}

body {
  margin: 0;
}

.p-menubar {
  height: 2rem;
}

.p-orderlist-controls {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
